src/main/webapp/wsdl/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ibm.com/test/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="test" targetNamespace="http://www.ibm.com/test/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ibm.com/test/">
      <xsd:element name="getID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getIDRequest">
    <wsdl:part element="tns:getID" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getIDResponse">
    <wsdl:part element="tns:getIDResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="test">
    <wsdl:operation name="getID">
      <wsdl:input message="tns:getIDRequest"/>
      <wsdl:output message="tns:getIDResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testSOAP" type="tns:test">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getID">
      <soap:operation soapAction="http://www.ibm.com/test/getID"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="test">
    <wsdl:port binding="tns:testSOAP" name="testSOAP">
      <soap:address location="http://www.ibm.com/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
